<h1>Latest Submissions</h1>
<table class="table table-bordered table-hover">
  <caption>Green line: Contact has visited 4 pages</caption>
  <thead>
    <th>Email</th>
    <th>IP</th>
    <th>Visited Pages</th>
    <th>Message</th>
  </thead>
  <tbody>
    <% @contacts.each do |contact| %>
      <tr class="<%= 'success' if contact.pages.length >= 3 %>">
        <td><%= link_to contact.email, contact_path(contact) %></td>
        <td><%= contact.ip %></td>
        <td><%= pretty_urls(contact.pages) %></td>
        <td><%= truncate(contact.message) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @contacts %>
